
body {
    background-color: #E6E6FA;
    width: 600px;
    height: 400px;
    margin-top: 100px;

    /* Center horizontally */
    margin-left: auto;
    margin-right: auto;
}

h3 {
    text-align: center;
}

div.content {
    background-color: white;
    border: 1px solid black;
}

div.form {
    width: 250px;
    float: right;
}

#logo {
    width: 340px;
    height: 400px;
    float: left;
}

#login {
    height: 80px;
}

#signup {
    height: 312px;
    margin-top: 6px;
}

form {
    margin-left: 5px;
    margin-right: 5px;
}

.error {
  border: 1px solid red;
}

label {
    height: 25px;
    display: block;
}

input {
    float: right;
}

div.status {
    height: 25px;
}
